body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

:root{
    --color-nav: rgb(22, 17, 17);
    --letra-nav: rgb(255, 255, 255);
}

.container-nav{
    height: 80px;
    background-color: var(--color-nav);
    margin-top: 0;
    position: sticky;
    top: 0;
}

.logo img{
    display: block;
    height: 80px;
    margin-left: 20px;
}

.logo .nombre{
    line-height: 40px;
    color: var(--letra-nav);
    margin-left: 40px;
}

.logo{
    display: flex;
    width: 210px;
}


.container-menu{
    width: 250px;
    float: right;
    margin-top: -50px;
    margin-right: 40px;
    text-align: right;
}

.items{
    padding: 0 20px 0 0;
    text-decoration: none;
    color: var(--letra-nav);
    font-size: 15px;
    transition: .5s;
}

.container-menu a:hover{
    color: rgb(255, 123, 0);
    font-size: 16px;
}


[class *="description"]{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    border: 2px solid black;
}

